services:
  db:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - vionshelf

#   redis:
#     container_name: redis
#     image: redis:latest
#     restart: always
#     ports:
#       - 6379:6379
#     command: redis-server --requirepass ${REDIS_PASSWORD}
#     volumes:
#       - redis_data:/data
#     networks:
#       - vionshelf

volumes:
  postgres_data:
#   redis_data:

networks:
  vionshelf:
